<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoe Landing page</title>
</head>
<body>
    <div class="main-cont">
        <div>
            <img height="200px" width="200px" src="<%= shoe.imgs %>" alt="shoe pic">
        </div>
        <div class="rightSection">
            <h4> <%= shoe.name %> </h4>
            <span> <%=shoe.price  %> </span>
        </div>
    </div>
</body>
</html>